 /* 
Name: Muhammad Saim Khan
Date created:09/22/2025
Date last modified: 09/24/2025
Version: 1
Description: Assignment 1 - Patient registeration
*/
body {
    background-color: orange;
    font-family: Arial, san-serif;
}

header{
 width: 100%;
 background-color: rgb(18, 216, 227);
}

.header-table {
    width:100%;
    border-collapse: collapse;
}

.header-left,
.header-center,
.header-right{
    vertical-align:middle;
}

.header-left {
    text-align:left;
    width: 33%;
    
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    
}

.image img {
    display: block;
    margin: 0 auto;
   

}

.header-right {
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
    text-align: right;
    
    
}

form {
    flex-grow:1;
}

h1, h2 {
text-align: center;
font-family:'Times New Roman', Times, serif;
font-weight:bold;
flex-grow:1;
}

main{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
flex-grow:1;
}

.td1{
text-align: left;
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
}

th{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

label {
 text-align:left;
 font-family: 'Times New Roman', Times, serif;
 font-weight: normal;
}

input {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.section-title {
    margin-top: 25px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}


.space-top {
    padding-top: 20px;
}

.left-space {
    padding-left: 12px;
}

.top-space {
    padding-top: 20px;
}

.error {
    color: red;
    font-size:12px;
}

.passw-note{
    margin-top: 10px;
    font-size: 12px;
    color: blue;
}

input[type="text"],
input[type="password"],   
input[type="date"],
input[type="email"],
select {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid yellow;
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] { 
    margin: 10px 5px;
    padding: 6px 15px;
    border-radius:gray;
    background-color: #0078d7;
    color: beige;
    border: none;
    cursor:pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    background-color: #005fa3;
}

.error {
    color: greenyellow;
    font-size: 14px;
    font-family: Arial, san-serif;
    font-weight:bold;
}

.passwMessage {
    text-align:right;
    font-family:Arial, sans-serif;
    font-weight: bold;
    position: relative;
    left:100px;
    padding:10px;
    background:transparent;
    border-radius:20px;
    border-spacing:2px;
    color: blueviolet
}

#Review {
    margin-top: 5px;
}

table.output,
tr.ouput,
td.output {
    width: 550px;
    background-color:aqua;
    padding:10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: orangered;
}

td.output {
    width: 550px;
    background-color: gray;
    padding: 10px;
    border-spacing:2px;
}
