/* 
Name: Muhammad Saim Khan
Date created:09/22/2025
Date last modified: 09/24/2025
Version: 1
Description: Assignment 1 - Patient registeration
*/
body {
    background-color: orange;
    font-family: Arial, san-serif;
    padding-top: 150px;
    padding-bottom: 80px;
}


header{
 width: 100%;
 background-color: rgb(18, 216, 227);
 position: sticky;
 top:0;
 z-index: 999;
 transition: background-color 0.3s ease;
}

form {
flex-grow:1;
}
h1, h2 {
text-align: center;
font-family:'Times New Roman', Times, serif;
font-weight:bold;
flex-grow:1;
}
main{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
flex-grow:1;
}
.image {
text-align:center;
}
.td1{
text-align: left;
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
}
th{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
label {
 text-align:left;
 font-family: 'Times New Roman', Times, serif;
 font-weight: normal;
}
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="range"] {
         text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

    td {
        vertical-align: middle;
    }

#welcomeA, #welcomeB {
display: block;
text-align: center;
margin-top: 10px;
margin-bottom: 5px;
font-family: 'TImes New Roman', Times, serif; 
}

#welcomeA {
    font-size: 22px;
    font-weight: bold;
    color: blue;
}

#welcomeB {
    font-size: 16px;
    font-weight: normal;
    color: #444;
}

#welcomeB a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.iframe-container { 
    position: absolute;
    top: 150px;
    right: 20px;
    width: 400px;
    height: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow:hidden;
    z-index: 1000;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    display: block;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(18, 216, 227);
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    z-index: 999;
}

